*{padding:0;
margin: 0;
 }

.fondobody{
    background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 97%, rgba(253,137,215,1) 100%);
}
.sinpunto {
    list-style: none;
    display:inline-block;
}
a { 
    text-decoration: none;
}
.titulo-qs {
    font-weight: bold;
    font-size: 300%;
    text-align:center
}

.titulo-ins {
    font-weight: bold;
    font-size: 300%;
    text-align:center
}

h2{
    text-align: center;
}



.titulo-clases {
    font-weight: bold;
    font-size: 300%;
    text-align:center

}

.textogral {
    font-style: italic;
    padding: 2rem;
}

/*INDEX*/


.container-section {
    display:flex;
    margin-top: 2rem;

}
.container-section-qs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-section-info-qs{
    width: 900px;
}

.container-section-ins{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.container-section-info-ins{
    width: 900px;
}

.container-section-clases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.container-section-directora{
    flex-wrap: wrap;
    justify-content: space-between;
}


.section-container--directora {
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.container-section-info{
    flex: 1 1 50%;
    justify-content: center ;
    text-align: right;
}
.container-section-img{
    flex: 1 1 50%;
}

/* <!--SE APLICA FLEX-->
No se esta comportando como lo quiero, ni se aplicar el color que deseo. */

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #aa076b, #61045f);

}

.logo{
    height: 100px;
}

nav{
    width: 50%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

nav ul li a{
    font-size: var(--text-base);
    color: white;
    padding: .5rem 1rem;
    transition: all .3s ease-in-out;
}
nav ul li a:hover{
    color: black;
    border: 2px solid white;
}

/* <!--SE APLICA GRID-->
No se ajusta al collage  */

/* .grid-area{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(3, 300px);
    gap: 10px;
}

section#g1 {
    grid-column: 1 / 3;
    grid-row: 1;
    background-image: url("../img/GALERIA1.jpeg");
    background-size: cover;
}

section#g3 {
    grid-column: 3 / 5;
    grid-row: 1;
    background-image: url("../img/GALERIA3.jpeg");
    background-size: cover;
}

section#g2 {
    grid-column: 4 / 5;
    grid-row: 2 / 4 ;
    background-image: url("../img/GALERIA2.jpeg");
    background-size: cover;
}

section#g7 {
    grid-column: 2 / 4;
    grid-row: 2 ;
    background-image: url("../img/GALERIA2.jpeg");
    background-size: cover;
}

section#g6 {
    grid-column: 2 / 3;
    grid-row: 2 ;
    background-image: url("../img/GALERIA2.jpeg");
    background-size: cover;
}

section#g4 {
    grid-column: 1 / 4;
    grid-row: 3 ;
    background-image: url("../img/GALERIA2.jpeg");
    background-size: cover;
} */


.grid-area{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "g1 g1 g1 g1"
      "g2 g3 g3 g3"
      "g2 g3 g3 g3"
      "g4 g4 g4 g4"
       
}

.g1{
    grid-area: g1;
    grid-column: 2 / 5;
    grid-row: 1;
    width: 1200px;
}

.g2{
    grid-area: g2;
    grid-column: 2 / 4;
    grid-row: 2;

}

.g3{
    grid-area: g3;
    grid-column: 3 / 5;
    grid-row: 2;
}

.g4{
    grid-area: g4;
    grid-column: 2 / 5;
    grid-row: 3;
}

.g5{
    grid-area: g5;
    grid-row: 4;
    grid-column: 2 / 5;
}

.g6{
    grid-area: g6;
    grid-column: 3 / 4;
    grid-row: 4;
}


/*INSTITUTO*/ 
.container-historia{ 
    display: flex;
    justify-content: space-around;
}

.card1{
    border: #8D468A solid 2px;
    transition: all .3s linear;
    padding: 3rem;
    width: 33%;

}

.card1:hover {
    transform: scale(1.1, 1.0);
    box-shadow: 0px 0px 10px #000;
}
     

.card2{
    border: #8D468A solid 2px;
    transition: all .3s linear;
    padding: 3rem;
    width: 33%;
}

.card2:hover{
    transform: scale(1.1, 1.0);
    box-shadow: 0px 0px 10px #000;
}

.card3{
    border: #8D468A solid 2px;
    transition: all .3s linear;
    padding: 3rem;
    width: 33%;
}

.card3:hover{
    transform: scale(1.1, 1.0);
    box-shadow: 0px 0px 10px #000;
}

.container-prof {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "prof prof"
      "prof1 prof1"
      "prof2 prof2"
      "prof3 prof3"; 
    justify-content: stretch; 
    align-content: end; 
    justify-items: center; 
    width: 50%; 
  }



/*MEDIAQUERYS*/

@media (max-width: 567px){
  .imagen1-index{
      width: 129px;
  }

.imagen2-index{
      width: 200px;
  }

.imagen3-index{
      width: 200px;
  }

.prof{
    width: 100px;
  }
.prof1{
    width: 100px;
}
.prof2{
    width: 100px;
}
.prof3{
    width: 100px;
}
}

/*Footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #8D468A;
    width: 100%;
    background: linear-gradient(to right, #aa076b, #61045f);
}
