/* NORMALIZE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 68%; }

body {
  background: linear-gradient(to top, #fcecfc 0%, #fba6e1 97%, #fd89d7 100%); }

.sinpunto {
  list-style: none;
  display: inline-block; }

a {
  text-decoration: none; }

.titulo-qs {
  font-weight: bold;
  font-size: 300%;
  text-align: center; }

.titulo-ins {
  font-weight: bold;
  font-size: 300%;
  text-align: center; }

h2 {
  text-align: center; }

.titulo-clases {
  font-weight: bold;
  font-size: 300%;
  text-align: center; }

.textogral {
  font-style: italic;
  padding: 2rem; }

/* ROOT AND VARS */
:root {
  --main_color: #7b1f7a;
  --secondary_color: #fff;
  --text_color: #000;
  --main_font: 'Italiana', serif;
  --secondary_font: 'Zilla Slab', serif;
  --text_font-size: 1.5em;
  --title_font-size: 2.2em;
  --xsmall: 1rem;
  --small: 1.4rem;
  --medium: 1.8rem;
  --large: 2.2rem;
  --xlarge: 2.6rem; }

/* ESTILO HEADER */
.header-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #7b1f7a; }

.figure__logo {
  height: 100px;
  width: 100%;
  padding-left: var(--xlarge); }

.nav {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: right; }

.nav__ul {
  padding: var(--medium); }

.nav__li {
  display: inline-block;
  padding: var(--medium);
  font-size: var(--text_font-size);
  font-weight: 700;
  font-family: var(--secondary_font); }

.nav__li a {
  text-decoration: none;
  color: var(--secondary_color); }

.nav__li:hover > a {
  color: var(--text_color);
  border-bottom: 2px solid var(--secondary_color); }

/*INDEX*/
.section-container--info {
  display: flex;
  gap: var(--xlarge);
  padding: var(--xlarge);
  border-bottom: 1px solid #7b1f7a; }

.section__info {
  flex: 1 1 50%; }

.info__h2 {
  text-align: center;
  font-size: var(--title_font-size);
  padding: var(--xsmall);
  font-family: var(--main_font); }

.info__p {
  text-align: justify;
  font-size: var(--text_font-size);
  font-family: var(--main_font); }

.section__figure-info {
  flex: 1 1 50%;
  text-align: right; }

.info-figure__img {
  width: 80%;
  height: 400px; }

/* ESTILO PLACE */
.section-container--place {
  display: flex;
  gap: var(--xlarge);
  padding: var(--large); }

.section__figure-place {
  flex: 1 1 50%; }

.place-figure__img {
  width: 100%;
  height: 400px; }

.section__place {
  flex: 1 1 50%; }

.place__h2 {
  text-align: center;
  font-size: var(--title_font-size);
  padding: var(--xsmall);
  font-family: var(--main_font); }

.place__p {
  text-align: justify;
  font-size: var(--text_font-size);
  font-family: var(--main_font); }

/* ESTILO CARDS */
.boostrap-style {
  padding: var(--xlarge); }

/* ESTILO MAP */
.section-container--map {
  width: 100%;
  margin: var(--xlarge) 0;
  padding: var(--xlarge); }

.map__title {
  font-size: var(--title_font-size);
  font-family: var(--main_font);
  text-align: center; }

.map__text {
  font-size: var(--text_font-size);
  font-family: var(--main_font); }

/*INSTITUTO*/
.container-historia {
  display: flex;
  justify-content: space-around; }

.card1 {
  border: #8D468A solid 2px;
  transition: all .3s linear;
  padding: 3rem;
  width: 33%; }

.card1:hover {
  transform: scale(1.1, 1);
  box-shadow: 0px 0px 10px #000; }

.card2 {
  border: #8D468A solid 2px;
  transition: all .3s linear;
  padding: 3rem;
  width: 33%; }

.card2:hover {
  transform: scale(1.1, 1);
  box-shadow: 0px 0px 10px #000; }

.card3 {
  border: #8D468A solid 2px;
  transition: all .3s linear;
  padding: 3rem;
  width: 33%; }

.card3:hover {
  transform: scale(1.1, 1);
  box-shadow: 0px 0px 10px #000; }

.container-prof {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "prof prof"
 "prof1 prof1"
 "prof2 prof2"
 "prof3 prof3";
  justify-content: stretch;
  align-content: end;
  justify-items: center;
  width: 50%; }

/*MEDIAQUERYS*/
@media (max-width: 567px) {
  .imagen1-index {
    width: 129px; }
  .imagen2-index {
    width: 200px; }
  .imagen3-index {
    width: 200px; }
  .prof {
    width: 100px; }
  .prof1 {
    width: 100px; }
  .prof2 {
    width: 100px; }
  .prof3 {
    width: 100px; } }

/*Footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #8D468A;
  width: 100%;
  background: linear-gradient(to right, #aa076b, #61045f); }
