.footer-container {
    width: 100%;
    height: 80px;
    background-color: $--main_color;
    display: block;

    .footer__ul {
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0;
        align-items: center;
      
        .footer__li {
            padding: $--small;
            font-size: $--text_font-size;
            font-weight: 600;
            font-family: $--secondary_font;
            list-style: none;
            color: $--secondary_color;
        }
    }
  }