footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #8D468A;
    width: 100%;
    background: linear-gradient(to right, #aa076b, #61045f); }