/* ESTILO HEADER */

.header-container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #230344;

    & .header__figure{

        & .figure__logo {
            height: 100px;
            width: 100%;
            margin: 0 $small;
            padding: $small;
        }
    }

    & .nav {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: right;

        & #nav__button {
            display: none;
        }
        
        & .nav__label {
            display: none;
        }

        & .nav__ul {
            padding: $medium; }

            & .nav__li {
                display: inline-block;
                padding: $medium;
                font-size: $text_font-size;
                font-weight: 700;
                font-family: $secondary_font;
                padding-bottom: $small;
                border-bottom: 2px solid transparent;
                transition: 1s all ease; 
                letter-spacing: .2em;
                }

            & .nav__li a {
                text-decoration: none;
                color: $secondary_color; 
            }

            & .nav__li:hover > a {
                color: $secondary_color;
                border-bottom: 2px solid $secondary_color;
        } 
    }
}

@media screen and (max-width:480px) {

    .header-container {
        height: 100px;

        & .header__figure {
            & .figure__logo{
                min-height: 50px;
                padding: $xsmall;
            }
        }

        & .nav {
            align-items: center;
            height: 50px;

            & .nav__ul {
                position: absolute;
                top: 100px;
                width: 100%;
                background: $main-color;
                height: 0;
                overflow: hidden;
                transition: height 1s;
                z-index: 100;
                padding: 0;

                & .nav__li {
                    display: block;
                    width: 100%;
                    padding: $xsmall;
                    text-align: end;

                    & a {
                        width: 100%;
                        display: block;
                    }

                    &:hover a {
                        border: transparent;
                    }
                }
            }

            & .nav__label {
                display :block;
                padding: $small;
                font-size: 2.5em;
                cursor: pointer;
                color: #fff;
                margin-top: $medium;
            }

            & #nav__button {
                &:checked {
                    ~ {
                        ul {
                            height: 240px;
                            transition: height 1s;
                        }
                    }
                }
            }
        }
    }
}








