/* ESTILO FORM */
.contact--main{
  & .form__info--h1 {
    width: 100%;
    text-align: center;
    font-family: $secondary_font;
    font-size: 5em;
    color: $text_color;
    text-decoration: underline;
    margin: $xlarge 0 0 0;
  }

  & .form--container {
      display: flex;
      padding: 0;
      margin-top: 80px;
      & .form__info--container {
          flex: 1 1 40%;
            & .form__info--ul {
              padding: $xsmall;
              & .form__info--li {
                  padding: $xsmall;
                  font-size: $text_font-size;
                  font-weight: 700;
                  font-family: $secondary_font;
                  list-style: none;
                  text-align: center;
                  margin: $medium;
                }
              }
            }

  & .form__input--container {
      flex: 1 1 60%;
      padding: $xlarge;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 40px 80px 80px 40px;
      gap: $medium;

      & .form__input {
        outline: none;
        border-radius: 7px;
        border-bottom: 1px solid $main_color;
        background-color: rgba(251,166,225,1);
        font-size: $text_font-size;
        font-weight: 700;
        font-family: $secondary_font;
      }

      & .form__textarea {
        grid-column: span 2;
        grid-row: 2/4;
        height: 100%;
        outline: none;
        border-radius: 7px;
        border-bottom: 1px solid $main_color;
        background-color: rgba(251,166,225,1);
        font-size: $text_font-size;
        font-weight: 700;
        font-family: $secondary_font;
        padding-top: $xsmall;
      }

      & .form__button {
        grid-column: span 2;
        grid-row: 4;
        font-size: $text_font-size;
        font-weight: 700;
        font-family: $secondary_font;
        outline: none;
        border: $secondary_color;
        border-radius: 7px;
        color: $secondary_color;
        background-color: $main_color;
             
        &:hover {
          background-color: rgba(251,166,225,1);
          color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .contact--main{
    display: flex;
    flex-flow: column wrap;

    & .form--container{
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: $medium;
      margin-top: $medium;

      & .form__input--container{
        display: flex;
        flex-flow: column wrap;
        width: 80%;
        padding: 0;
        margin: 0;
      }
    }
  } 
}