/* ESTILO MAIN/SECTIONS */

/* ESTILO INFO */

.section-container--info {
    display: flex;
    gap: 100px;
    padding: $xlarge;
    border-bottom: 1px solid $main_color; 
    justify-content: center;
    align-items: center;

    & .section__info {
        flex: 1 1 50%;
        max-width: 500px;

      & .info__h2 {
        text-align: center;
        font-size: $title_font-size;
        padding: $xsmall;
        font-family: $main_font; } 

      & .info__p {
        text-align: justify;
        font-size: $text_font-size;
        font-family: $main_font; } }  

    & .section__figure-info {
      flex: 1 1 50%;
      text-align: center; 
      max-width: 500px;

      & .info-figure__img {
        width: 100%;
        max-width: 500px;
        height: 300px; }
      }   
}                            

/* ESTILO PLACE */

.section-container--place {
  display: flex;
  gap: 100px;
  padding: $large;
  justify-content: center;
  align-items: center;

  & .section__figure-place {
    flex: 1 1 50%;
    text-align: center;
    max-width: 500px;
  
    & .place-figure__img {
    width: 100%;
    max-width: 500px;
    height: 300px;
    }
  }
}

.section__place {
    flex: 1 1 50%; 
    max-width: 500px;
    text-align: center;

    & .place__h2 {
    text-align: center;
    font-size: $title_font-size;
    padding: $xsmall;
    font-family: $main_font; }

    & .place__p {
    text-align: justify;
    font-size: $text_font-size;
    font-family: $main_font; }  
}

/* ESTILO CARDS */

.boostrap-style {
    padding: $xlarge; 
     
 & .card-body {
      max-height: 400px;
      min-height: 300px;
      background-color: #ead6ea;
      box-shadow: 0 0 5px #000;
      
      & .card-title {
        text-align: center;
        font-size: $title_font-size;
        padding: $xsmall;
        font-family: $main_font;
        border-bottom: 1px solid #7b1f7a;}

      & .card-text {
        text-align: justify;
        font-size: $text_font-size;
        font-family: $main_font;
        margin-top: $xsmall;}
    }
 }
  
/* ESTILO MAP */

  .section-container--map {
    width: 100%;
    margin: $xlarge 0;
    padding: $xlarge; 
     
    & .map__title {
      margin: $large 0;
      font-size: $title_font-size;
      font-family: $main_font;
      text-align: center; }

    & .map__text {
      text-align: center;
      font-size: $text_font-size;
      font-family: $main_font; }
  }
  
  //responsive//

  @media screen and (max-width:480px) {
    .section-container--info{ 
        display: flex;
        flex-direction: column;
        }
    .section-container--place{
        display: flex;
        flex-direction: column;
        }
  }