/* ESTILO PAG INSTITUTO */

/* ESTILO COACH */

.section-container--coach {
    display: flex;
    gap: $xlarge;
    padding: $large;
    border-bottom: 1px solid $main_color;
    align-items: center;
     
    & .section__figure-coach {
        flex: 1 1 50%;
        padding: $large;
        text-align: center;

        & .coach-figure__img {
            width: 100%;
            border-radius: $xsmall;
        }
      }

.section__coach {
    flex: 1 1 60%;
  
    & .coach__h2 {
        text-align: center;
        font-size: $title_font-size;
        padding: $xsmall;
        font-family: $main_font;
        text-transform: uppercase;
        font-weight: 600;
      }

    & .coach__p {
        text-align: justify;
        font-size: $text_font-size;
        font-family: $main_font;
    }
}
}



/* ESTILO HISTORIA */

.section-container--hist {
    padding: $large;
  
    & .hist__h1 {
        text-align: center;
        font-family: $main_font;
        text-decoration: underline;
        font-weight: 800;
        font-size: $title_font-size;
      } 
}

/* ESTILO CAROUSEL */


.carousel--container {
    width: 70%;
    margin: auto;
    padding: $large;
     
    & .carousel__h2 {
        text-align: center;
        font-family: $main_font;
        text-decoration: underline;
        font-weight: 800;
        font-size: $title_font-size;
        margin: $medium;
      }

      & .carousel-item img {
        max-height: 500px;
        object-fit: contain;
        width: 100%;
      }
}

@media screen and (max-width:700px) {
  .section-container--coach{ 
      display: flex;
      flex-direction: column;
      }
}