* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

  body {
    background: linear-gradient(to top, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 97%, rgba(253,137,215,1) 100%);
    margin: 0;
    padding: 0;
  }
