 /* ROOT AND VARS */

 $main_color: #230344;
 $secondary_color: #e6e6e6;
 $text_color: #000;

 $main_font: 'Hind Siliguri', sans-serif;
 $secondary_font: 'Joan', serif;

 $text_font-size: 1.5em;
 $title_font-size: 2.2em;
 $gallery-title_font-size: 3em;

 $xsmall: 1rem;
 $small: 1.4rem;
 $medium: 1.8rem;
 $large: 2.2rem;
 $xlarge: 2.6rem;
