<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <title>Soul Dance | Instituto de Danzas</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="fondobody">
    <!-- Logo + Nombre + nav -->
    <header>
        <img class="logo" src="../img/logo.svg" alt="">
        <!-- <h1>Soul Dance | Instituto de Danzas</h1> -->
       <nav>
           <ul>
               <li class="sinpunto">
                   <a href="../index.html">HOME</a>
               </li>
               <li class="sinpunto">
                   <a href="./instituto.html">INSTITUTO</a>
               </li>
               <li class="sinpunto">
                   <a href="./clases.html">CLASES</a>
               </li>
               <li class="sinpunto">
                   <a href="./imagenes.html">IMAGENES</a>
               </li>
               <li class="sinpunto">
                   <a href="./contacto.html">CONTACTO</a>
               </li>
           </ul>
       </nav>
    </header>
    <!-- cierre de mi menu -->
	<!-- comienza información de mi sitio -->
    <section>
        <div>
            <h2 class="titulos">Clases</h2>
            <H2 class="titulos">Clases para todos los niveles y edades</H2>
        </div>
    </section>
    <section>
        <div>
            <ul class="textogral">
                <li>CLASICO</li>
                <li> Clasico babys</li> 
                <li> Clasico avanz</li> 
                <li> Clasico Juv 1</li> 
                <li> Clasico Juv 2</li>
            </ul>
            <p class="textogral">Los niños desarrollan, estimulan, y educan su oído musical, trabajan elongación, ritmos, respiración y comienzan a desarrollar los primeros conocimientos de la técnica clásica</p>
            <img src="../img/clases1.jpeg" alt="">
        </div>
    </section>
    <section>
        <div>
            <ul class="textogral">
                <li>JAZZ</li>
                <li> Jazz babys</li> 
                <li> Jazz infantil</li> 
                <li> Jazz Contemporaneo</li> 
                <li> Jazz Juv 1</li>
                <p class="textogral">Empezaremos a conocer el movimiento y su relación con el entorno de manera lúdica, buscando aprender y divertirnos a la vez!
                </p>
            </ul>
            <img src="../img/clases2.jpeg" alt="">
        </div>
    </section>
    <section>
        <div>
            <ul class="textogral">
                <li>OTROS</li>
                <li> Ritmos Urbanos</li> 
                <li> Zumba</li> 
                <p class="textogral">Los alumnos, desarrollan la clase básica completa, utilizan elementos que contribuyen a ejercitar la elongación, trabajan ritmos y estilos</p>
            </ul>
            <img src="../img/clases3.jpeg" alt="">
        </div>
    </section>

    <!-- inicio de footer --> 
<footer class="fondofooter">
        <img class="logo" src="../img/logo.svg" alt="">
        <h3>CONTACTO WP (TELÉFONO)</h3>
        <h3>LINK REDES (IG)(FB)(YT)</h3>
        <p>Diseño y Programación. Todos los Derechos Reservados</p>
</footer>
<body style="background-color:#F5D9ED;"></body>
</html>