<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <title>Soul Dance | Instituto de Danzas</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body class="fondobody">
    <!-- Logo + Nombre + nav -->
    <header>
        <img class="logo" src="../img/logo.svg" alt="">
        <!-- <h1>Soul Dance | Instituto de Danzas</h1> -->
       <nav>
           <ul>
               <li class="sinpunto">
                   <a href="../index.html">HOME</a>
               </li>
               <li class="sinpunto">
                   <a href="./instituto.html">INSTITUTO</a>
               </li>
               <li class="sinpunto">
                   <a href="./clases.html">CLASES</a>
               </li>
               <li class="sinpunto">
                   <a href="./imagenes.html">IMAGENES</a>
               </li>
               <li class="sinpunto">
                   <a href="./contacto.html">CONTACTO</a>
               </li>
           </ul>
       </nav>
    </header>
    <!-- cierre de mi menu -->
	<!-- comienza información de mi sitio -->

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <img src="../img/clases1.jpeg" alt="">
            <h2><ins>DANZA CLASICA</ins></h2>
            <ul>
                <li>Clasico babys/</li>
                <li>Clasico Avanzado/</li>
                <li>Clasico Juv 1/</li>
                <li>Clasico Juv 2/</li>
            </ul>
            <p><em>Los niños desarrollan, estimulan, y educan su oído musical, trabajan elongación, ritmos, respiración y comienzan a desarrollar los primeros conocimientos de la técnica clásica

            </em></p>
            </p>
          </div>
          <div class="col-md-4">
              <img src="../img/clases2.jpeg" alt="">
            <h2><ins>DANZA JAZZ</ins></h2>
            <ul>
                <li>Jazz babys/</li>
                <li>Jazz Infantil/</li>
                <li>Jazz Contemporaneo/</li>
                <li>Jazz Juv 1/</li>
            </ul>
            <p><em> Empezaremos a conocer el movimiento y su relación con el entorno de manera lúdica, buscando aprender y divertirnos a la vez!</em> </p>
            </p>
         </div>
          <div class="col-md-4">
            <img src="../img/clases3.jpeg" alt="">
            <h2><ins>OTROS</h2>
                <ul>
                    <li>Ritmos Urbanos</li>
                    <li>Zumba/</li>
                </ul>
            <p><em>Los alumnos, desarrollan la clase básica completa, utilizan elementos que contribuyen a ejercitar la elongación, trabajan ritmos y estilos</em></p>
            </p>
          </div>
        </div>

    <!-- inicio de footer --> 
    <footer class="fondofooter">
        <img class="logo" src="../img/logo.svg" alt="">
        <h3>CONTACTO WP (TELÉFONO)</h3>
        <h3>LINK REDES (IG)(FB)(YT)</h3>
        <p>Diseño y Programación. Todos los Derechos Reservados</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<body style="background-color:#F5D9ED;"></body>
</html>