<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <title>Soul Dance | Instituto de Danzas</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body class="fondobody">
      <!-- Logo + Nombre + nav -->
      <header>
        <img class="logo" src="../img/logo.svg" alt="">
        <!-- <h1>Soul Dance | Instituto de Danzas</h1> -->
       <nav>
           <ul>
               <li class="sinpunto">
                   <a href="../index.html">HOME</a>
               </li>
               <li class="sinpunto">
                   <a href="./instituto.html">INSTITUTO</a>
               </li>
               <li class="sinpunto">
                   <a href="./clases.html">CLASES</a>
               </li>
               <li class="sinpunto">
                   <a href="./imagenes.html">IMAGENES</a>
               </li>
               <li class="sinpunto">
                   <a href="./contacto.html">CONTACTO</a>
               </li>
           </ul>
       </nav>
    </header>
    <!-- cierre de mi HEADER -->
	<!-- comienza información de mi sitio -->

<!-- formulario de contacto -->
<section class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">CONTACTO</h6>
          <p class="card-text">DIRECCION
      Int. Carlos Ratti 490
      TELÉFONO:
      (+54) 9 11.4042-8508
      E-MAIL:
      institutosouldance@gmail.com
      INSTAGRAM:
      instagram.com/institutosouldance
      FACEBOOK:
      facebook.com/institutosouldance</p>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre y Apellido">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      <label for="exampleFormControlInput1" class="form-label">Tipo de Clase </label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Elegir">
      <label for="exampleFormControlInput1" class="form-label">Mensaje</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Observaciones">
      <button type="submit" class="btn btn-primary mb-3">Enviar</button>
          
          
        </div>
      </div>
</section>
<!-- inicio de footer --> 
    <footer class="fondofooter">
    <img class="logo" src="../img/logo.svg" alt="">
    <h3>CONTACTO WP (TELÉFONO)</h3>
    <h3>LINK REDES (IG)(FB)(YT)</h3>
    <p>Diseño y Programación. Todos los Derechos Reservados</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<body style="background-color:#F5D9ED;"></body>
</html>