<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <title>Soul Dance | Instituto de Danzas</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="fondobody">
      <!-- Logo + Nombre + nav -->
      <header>
        <img class="logo" src="../img/logo.svg" alt="">
        <!-- <h1>Soul Dance | Instituto de Danzas</h1> -->
       <nav>
           <ul>
               <li class="sinpunto">
                   <a href="../index.html">HOME</a>
               </li>
               <li class="sinpunto">
                   <a href="./instituto.html">INSTITUTO</a>
               </li>
               <li class="sinpunto">
                   <a href="./clases.html">CLASES</a>
               </li>
               <li class="sinpunto">
                   <a href="./imagenes.html">IMAGENES</a>
               </li>
               <li class="sinpunto">
                   <a href="./contacto.html">CONTACTO</a>
               </li>
           </ul>
       </nav>
    </header>
    <!-- cierre de mi HEADER -->
	<!-- comienza información de mi sitio -->
    <section>
        <div>
            <h2 class="titulos">Contacto</h1>
        </div>
    </section>

    <section>
        <div>
            <ul class="titulos">
                <li>DIRECCION</li>
                <li>Int. Carlos Ratti 490 </li>
                <li>TELÉFONO:</li>
                <li>(+54) 9 11.4042-8508 </li>
                <li>E-MAIL:  </li>
                <li>institutosouldance@gmail.com </li>
                <li>INSTAGRAM:   </li>
                <li>instagram.com/institutosouldance</li>
                <li>FACEBOOK:</li>
                <li>facebook.com/institutosouldance</li>
            </ul>
        </div>
    </section>
<!-- formulario de contacto -->
<section>
    <article>
        <form action="#">
            <input type="text" placeholder="NOMBRE Y APELLIDO"><br>
            <label for="email">Correo:
                <input type="E-mail" placeholder="ej: minombre@gmail.com" name="email"><br>
            </label>
            <label for="Tipo de Clase">Tipo de clase:
                <select name="Tipo de clase" id="clases">
                    <option value="Clasico babys">Clasico Babys</option>
                    <option value="Clasico avanz">Clasico Avanz</option>
                    <option value="Clasico Juv 1">Clasico Juv 1</option>
                    <option value="Clasico Juv 2">Clasico Juv 2</option>
                    <option value="Clasico babys">Jazz babys</option>
                    <option value="Clasico Infantil">Jazz Infantil</option>
                    <option value="Clasico Juv 1 ">Jazz Juv 1</option>
                    <option value="Clasico Ritmons Urbanos">Ritmos Urbanos</option>
                    <option value="Clasico Zumba">Zumba</option>
                </select><br>
            </label>
            <label for="EDAD">Edad:
                <input type="Tipo de clase" placeholder="" name=""><br>
            </label>
            <label for="Mensaje"> Mensaje:<br>
                <textarea placeholder="Observaciones"></textarea>
            </label> <br>
            <div>Queres recibir info sobre nosotros?
            <input type="checkbox" name="acepta" value="1"></div>
            <input type="submit" value="Enviarme novedades">
            <input type="reset" value="Borrar">
        </form>
    </article>
</section>
<!-- inicio de footer --> 
<footer class="fondofooter">
    <img class="logo" src="../img/logo.svg" alt="">
    <h3>CONTACTO WP (TELÉFONO)</h3>
    <h3>LINK REDES (IG)(FB)(YT)</h3>
    <p>Diseño y Programación. Todos los Derechos Reservados</p>
</footer>
<body style="background-color:#F5D9ED;"></body>
</html>