<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo" type="image/x-icon">
    <title>GALERIA | Instituto de Danzas</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../css/estilosCss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Joan&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <!-- HEADER -NAV -->
    <header class="header-container">
      <figure class="header__figure">
        <img class="figure__logo" src="../img/logo.png" alt="logo">
      </figure>
    <!-- <h1>Soul Dance | Instituto de Danzas</h1 ATENCION! LINKEAR EL LOGO A MI PAG -->
      <nav class="nav">
        <input type="checkbox" class=“nav__button” id="nav__button">
        <label for="nav__button" class="nav__label"><i class="fa fa-bars"></i></label> 
        <ul class="nav__ul">
          <li class="nav__li"><a href="../index.html">HOME</a></li>
          <li class="nav__li"><a href="./instituto.html">INSTITUTO</a></li>
          <li class="nav__li"><a href="./clases.html">CLASES</a></li>
          <li class="nav__li"><a href="./galeria.html">GALERIA</a></li>
          <li class="nav__li"><a href="./contacto.html">CONTACTO</a></li>
        </ul>
      </nav>
    </header>
    <!-- cierre de mi menu -->
	<!-- comienza información de mi sitio -->
    <!-- cierre de mi menu -->
<!--SE APLICA GRID-->
<main class="gallery">
    <h1 class="gallery__title">GALERIA</h1>
    <div class="gallery__grid--container">
        <figure class="gallery_figure"><img class="gallery_img
            " src="../img/GALERIA1.jpeg" alt=""></figure>
        <figure class="gallery_figure"><img class="gallery_img
            " src="../img/GALERIA2.jpeg" alt=""></figure>
        <figure class="gallery_figure"><img class="gallery_img
            " src="../img/GALERIA3.jpeg" alt=""></figure>
        <figure class="gallery_figure"><img class="gallery_img
            " src="../img/GALERIA4.jpeg" alt=""></figure>
        <figure class="gallery_figure"><img class="gallery_img
            " src="../img/GALERIA6.jpeg" alt=""></figure>
        <figure class="gallery_figure"><img class="gallery_img
            " src="../img/GALERIA7.jpeg" alt=""></figure>
    </div>
</main>
<!-- inicio de footer --> 
<footer class="footer-container">
  <ul class="footer__ul">
    <li class="footer__li"><span><i class="fa-brands fa-instagram"></i></span></li>
    <li class="footer__li"><span><i class="fa-brands fa-facebook-f"></i></span></li>
    <li class="footer__li"><span><i class="fa-brands fa-youtube"></i></span></li>
    <li class="footer__li"><span>Diseño y Programación. Todos los Derechos Reservados</span></li>
  </ul>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://kit.fontawesome.com/c539e2d60d.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>