<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <title>Soul Dance | Instituto de Danzas</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
      <!-- Logo + Nombre + nav -->
      <header>
        <img class="logo" src="../img/logo.svg" alt="">
        <!-- <h1>Soul Dance | Instituto de Danzas</h1> -->
       <nav>
           <ul>
               <li class="sinpunto">
                   <a href="./index.html">HOME</a>
               </li>
               <li class="sinpunto">
                   <a href="./instituto.html">INSTITUTO</a>
               </li>
               <li class="sinpunto">
                   <a href="./clases.html">CLASES</a>
               </li>
               <li class="sinpunto">
                   <a href="./imagenes.html">IMAGENES</a>
               </li>
               <li class="sinpunto">
                   <a href="./contacto.html">CONTACTO</a>
               </li>
           </ul>
       </nav>
    </header>
    <!-- cierre de mi menu -->
	<!-- comienza información de mi sitio -->
    <section>
    <h1 class="titulos">Galeria de Imagenes</h1>
    </section>
<!--SE APLICA GRID-->
    <main class="grid-area">
       <section class="g1" ><img src="../img/GALERIA1.jpeg" alt=""></section>
       <section class="g2" ><img src="../img/GALERIA2.jpeg" alt=""></section>
       <section class="g3" ><img src="../img/GALERIA3.jpeg" alt=""></section>
       <section class="g4" ><img src="../img/GALERIA4.jpeg" alt=""></section>
       <section class="g5" ><img src="../img/GALERIA6.jpeg" alt=""></section>
       <section class="g6" ><img src="../img/GALERIA7.jpeg" alt=""></section>
    </main>

    <!-- inicio de footer --> 
<footer class="fondofooter">
        <img class="logo" src="../img/logo.svg" alt="">
        <h3>CONTACTO WP (TELÉFONO)</h3>
        <h3>LINK REDES (IG)(FB)(YT)</h3>
        <p>Diseño y Programación. Todos los Derechos Reservados</p>
</footer>
<body style="background-color:#F5D9ED;"></body>
</html>