<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <title>Soul Dance | Instituto de Danzas</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="fondobody">
    <!-- Logo + Nombre + nav -->
    <header>
        <img class="logo" src="../img/logo.svg" alt="">
        <!-- <h1>Soul Dance | Instituto de Danzas</h1> -->
       <nav>
           <ul>
               <li class="sinpunto">
                   <a href="../index.html">HOME</a>
               </li>
               <li class="sinpunto">
                   <a href="./instituto.html">INSTITUTO</a>
               </li>
               <li class="sinpunto">
                   <a href="./clases.html">CLASES</a>
               </li>
               <li class="sinpunto">
                   <a href="./imagenes.html">IMAGENES</a>
               </li>
               <li class="sinpunto">
                   <a href="./contacto.html">CONTACTO</a>
               </li>
           </ul>
       </nav>
    </header>
    <!-- cierre de mi menu -->
	<!-- comienza información de mi sitio -->
    <section>
		<div class="container-section-directora">
            <div class="container-section-info-directora">
            <img src="../img/directora.jpeg" alt="imagen">
            <div class="container-section-info">
			<h2 class="titulos">Instituto Soul Dance </h2>    
            <p class="textogral">Fundado por la Directora del Ballet Concierto de Iñaki Urlezaga: La Maestra, Bailarina Solista y Docente Teatro Colón, Lilián Giovine.
                En sus salas se formaron grandes artistas y pasaron por ellas figuras de la danza internacional siendo por muchos años la sede oficial del Ballet Concierto.
                El Instituto de Arte y Ballet combina un ambiente profesional con un agradable ambiente familiar; ideal para la formación integral del bailarin.
                Sus maestros son evaluados constantemente para dar la mejor calidad técnica y artistica a sus alumnos.
                Aprendé todas las posibilidades de moverte y expresar sentimientos con tu cuerpo, descubrí una nueva forma de vivir.
                Te invitamos a que te acerques a conocernos y poder darte una calida Bienvenida a la libertad que solo la danza puede brindarte.
            </div>
        </div>
    </section> 


    <h2 class="titulos">Breve Historia</h2>    

    <section class="container-historia"> 

        <div class="card1"> 	
           <h3>Nuestro Desafio</h3>   
            <p class="textogral">
                Queremos acercar el arte a familias y escuelas entendiendo q la formación de los futuros ciudadanos exige mucho más que la incorporación de conocimientos formales. 
            </p>
        </div>

        <div class="card2"> 
            <h3>Nuestra Mision</h3>   
            <p class="textogral">
                Priorizamos nuestro accionar docente de manera responsable y comprometida desde el valor de la confianza que favorecerán relaciones con el alumno en la institución; las amplias instalaciones albergan grupos limitados para su mejor desarrolló teniendo al frente maestros y asistentes supervisado por la directora general Lilian Giovine.
            </p>
            </div>
        <div class="card3"> 
            <h3>Nuestro Objetivo</h3>   
            <p class="textogral">
                Lograr excelencia en el aprendizaje para un futuro en que los estudiantes lleguen a cumplir sus metas: artistas profesionales, maestros y coreógrafos.
            </p>
        </div>
    </section>
    <section>
        <div class="container-prof">
            <h4 class="titulos">Nuestros profesionales</h4>
            <section class="prof"><img class="imagen-prof"src="../img/profesional.jpeg" alt=""></section>
            <section class="prof1"><img class="imagen-prof1"src="../img/profesional1.jpeg" alt=""></section>
            <section class="prof2"><img class="imagen-prof2"src="../img/profesional2.jpeg" alt=""></section>
            <section class="prof3"><img class="imagen-prof3" src="../img/profesional3.jpeg" alt=""></section>
        </div>
    </section>

    <!-- inicio de footer --> 
<footer class="fondofooter">
        <img class="logo" src="../img/logo.svg" alt="">
        <h3>CONTACTO WP (TELÉFONO)</h3>
        <h3>LINK REDES (IG)(FB)(YT)</h3>
        <p>Diseño y Programación. Todos los Derechos Reservados</p>
</footer>
<body style="background-color:#F5D9ED;"></body>
</body>
</html>