<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <title>Soul Dance | Instituto de Danzas</title>
    <link rel="stylesheet" href="../css/index.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="fondobody">
    <!-- Logo + Nombre + nav -->
    <header>
        <img class="logo" src="../img/logo.svg" alt="">
        <!-- <h1>Soul Dance | Instituto de Danzas</h1> -->
       <nav>
           <ul>
               <li class="sinpunto">
                   <a href="../index.html">HOME</a>
               </li>
               <li class="sinpunto">
                   <a href="./instituto.html">INSTITUTO</a>
               </li>
               <li class="sinpunto">
                   <a href="./clases.html">CLASES</a>
               </li>
               <li class="sinpunto">
                   <a href="./imagenes.html">IMAGENES</a>
               </li>
               <li class="sinpunto">
                   <a href="./contacto.html">CONTACTO</a>
               </li>
           </ul>
       </nav>
    </header>
    <!-- cierre de mi menu -->
	<!-- comienza información de mi sitio -->
    <section>
		<div class="container-section-directora">
            <div class="container-section-info-directora">
            <img src="../img/directora.jpeg" alt="imagen">
            <div class="container-section-info">
			<h2 class="titulos">Instituto Soul Dance </h2>    
            <p class="textogral">Fundado por la Directora del Ballet Concierto de Iñaki Urlezaga: La Maestra, Bailarina Solista y Docente Teatro Colón, Lilián Giovine.
                En sus salas se formaron grandes artistas y pasaron por ellas figuras de la danza internacional siendo por muchos años la sede oficial del Ballet Concierto.
                El Instituto de Arte y Ballet combina un ambiente profesional con un agradable ambiente familiar; ideal para la formación integral del bailarin.
                Sus maestros son evaluados constantemente para dar la mejor calidad técnica y artistica a sus alumnos.
                Aprendé todas las posibilidades de moverte y expresar sentimientos con tu cuerpo, descubrí una nueva forma de vivir.
                Te invitamos a que te acerques a conocernos y poder darte una calida Bienvenida a la libertad que solo la danza puede brindarte.
            </div>
        </div>
    </section> 


    <h2 class="titulos"><strong>BREVE HISTORIA</strong></h2>    

    <section class="container-historia"> 

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4">
                <h2><ins>DESAFIO</ins></h2>
                <p><em>Queremos acercar el arte a familias y escuelas entendiendo q la formación de los futuros ciudadanos exige mucho más que la incorporación de conocimientos formales. </em></p>
                </p>
              </div>
              <div class="col-md-4">
                <h2><ins>NUESTRA MISION</ins></h2>
                <p><em> Priorizamos nuestro accionar docente de manera responsable y comprometida desde el valor de la confianza que favorecerán relaciones con el alumno en la institución; las amplias instalaciones albergan grupos limitados para su mejor desarrolló teniendo al frente maestros y asistentes supervisado por la directora general Lilian Giovine.</em> </p>
                </p>
             </div>
              <div class="col-md-4">
                <h2><ins>NUESTRO OBJETIVO</ins></h2>
                <p><em>Priorizamos nuestro accionar docente de manera responsable y comprometida desde el valor de la confianza que favorecerán relaciones con el alumno en la institución; las amplias instalaciones albergan grupos limitados para su mejor desarrolló teniendo al frente maestros y asistentes supervisado por la directora general Lilian Giovine.</em></p>
                </p>
              </div>
            </div>
    </section>
    <section class="container">
        <section class="row">
            <h4 class="titulos">NUESTROS PROFESIONALES</h4>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../img/profesional.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Leon Suarez</h5>
                  <p>Danza Urbana.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../img/profesional1.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Emma Figueroa</h5>
                  <p>Contemporaneo/p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../img/profesional2.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Carla Dominguez</h5>
                  <p>Clasico</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../img/profesional3.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Sofia Mendez</h5>
                  <p>Jazz</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
    </Section>
    <!-- inicio de footer --> 
    <footer class="fondofooter">
        <img class="logo" src="../img/logo.svg" alt="">
        <h3>CONTACTO WP (TELÉFONO)</h3>
        <h3>LINK REDES (IG)(FB)(YT)</h3>
        <p>Diseño y Programación. Todos los Derechos Reservados</p>
    </footer>
    <body style="background-color:#F5D9ED;"></body>
<!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>